<!--尾部-->
<footer class="bg-dark text-light small">
    <div class="container">
        <div class="row pt-3 pb-5">
            <div class="col-sm-12 col-md-10">
                <div class="pt-5">
                    <p class="mb-2">介绍文字，介绍文字，介绍文字，介绍文字</p>
                    <ul class="nav">
                        <li class="nav-item"><a href="=#" class="nav-link text-white pl-0">item1</a></li>
                        <li class="nav-item"><a href="=#" class="nav-link text-white pl-0">item2</a></li>
                        <li class="nav-item"><a href="=#" class="nav-link text-white pl-0">item3</a></li>
                        <li class="nav-item"><a href="=#" class="nav-link text-white pl-0">item4</a></li>
                        <li class="nav-item"><a href="=#" class="nav-link text-white pl-0">item5</a></li>
                    </ul>
                </div>
                <div class="text-muted">
                    <i>@2099-3000</i>版权信息<span class="mx-3">版权所有</span><a href="#" class="text-muted">xxxxxxx</a>
                </div>
            </div>

            <!--偏右地方-->
            <div class="col-am-12 col-md-2 text-md-right text-center p-0">
                <figure class="figure mt-3">
                    <img src="/static/images/tx.jpg" class="figure img-thumbnail" style="max-width: 50%;">
                    <figcaption class="figure-caption text-center text-light">图片下方的文字</figcaption>
                </figure>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
