<!--尾部-->
<footer class="bg-dark text-light small">
    <div class="container">
        <div class="row pt-3 pb-5">
            <div class="col-sm-12 col-md-10">
                <div class="pt-5">
                    <p class="mb-2">欢迎大家一起学习</p>
                    <a href="https://github.com/iknow181" class="mb-2 text-light">GitHub:iknow181</a>
                    <br>
                    <a href="https://blog.csdn.net/qinjilll" class="mb-2 text-light">CSDN:iknow181</a>
                </div>
                <div class="text-muted">
                    <i>&copy;copyright</i>2024<span class="mx-3">版权所有</span><a href="#" class="text-muted">iknow</a>
                </div>
            </div>

            <!--偏右地方-->
            <div class="col-am-12 col-md-2 text-md-right text-center p-0">
                <figure class="figure mt-3">
                    <img src="/static/images/tx.jpg" class="figure img-thumbnail" style="max-width: 50%;">
                </figure>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
