{% include 'header.html' %}
<script>
  // 在页面加载前，使用 JavaScript 动态设置标题
  window.onload = function() {
    document.title = "Menu";
  };
</script>
<body>
<style>
    /* 自定义菜单背景色 */
    .custom-menu {
        background-color: #f8f9fa; /* 淡灰色背景 */
    }

    /* 自定义菜单项颜色 */
    .custom-menu-item {
        background-color: #cce5ff; /* 淡蓝色背景 */
        color: #007bff; /* 深蓝色文字 */
    }

    /* 鼠标悬停时改变菜单项颜色 */
    .custom-menu-item:hover {
        background-color: #0056b3; /* 深蓝色背景 */
        color: #ffffff; /* 白色文字 */
    }
</style>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card custom-menu"> <!-- 添加自定义菜单背景色类 -->
                <div class="card-header">
                    你可以...哟
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <a href="{{ url_for('NmapFun') }}" class="list-group-item list-group-item-action custom-menu-item">Nmap</a>
                        <a href="{{ url_for('DataConversion') }}" class="list-group-item list-group-item-action custom-menu-item">DataEncoding</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% include 'footer.html' %}
