{% include 'header.html' %}  }
<script>
  // 在页面加载前，使用 JavaScript 动态设置标题
  window.onload = function() {
    document.title = "Welcome";
  };
</script>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Welcome to iknow's Little World</h1>
                        <p class="card-text">Click to start your journey</p>
                        <a href="{{ url_for('menu') }}" class="btn btn-primary">Start Your Journey</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
{% include 'footer.html' %}